[run]
source = flagquantum
relative_files = True
omit =
    flagquantum/benchmarking/*
    flagquantum/runtime/executors/statevector/triton.py
    flagquantum/kernels/triton/*
    flagquantum/ecosystem/cudaq/*

[report]
exclude_also =
    if TYPE_CHECKING:
